@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(15, 100%, 61%);
  --orange-red: hsl(346, 100%, 66%);

  /* typography */
  --sans-serif: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  /* Text Presets */
  --text-preset-1-size: 4rem;
  --text-preset-1-mobile-size: 2.5rem;
  --text-preset-1-line-height: 100%;
  --text-preset-1-letter-spacing: 0rem;

  --text-preset-2-size: 1rem;
  --text-preset-2-line-height: 150%;
  --text-preset-2-letter-spacing: 0rem;

  --text-preset-3-size: 0.75rem;
  --text-preset-3-line-height: 150%;
  --text-preset-3-letter-spacing: 0rem;

  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1300: 6.5rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: var(--sans-serif);
  font-weight: var(--font-regular);
  background-color: var(--blue-700);
}
h1 {
  font-size: var(--text-preset-1-mobile-size);
  margin-block-start: var(--text-preset-1-size);
  margin-block-end: var(--spacing-200);
  font-weight: var(--font-bold);
}
ul {
  list-style-type: none;
}
li {
  background: url('/assets/images/icon-list.svg') no-repeat left top;
  padding-left: var(--spacing-400);
  padding-block-end: 0.275rem;
  margin-block-end: var(--spacing-100);
  line-height: var(--text-preset-2-line-height);
}
button {
  display: inline-block;
  width: 100%;
  margin-inline: auto;
  border-radius: var(--spacing-100);
  margin-block: var(--spacing-300);
  padding: var(--spacing-200);
  background-color: var(--blue-800);
  color: var(--white);
  cursor: pointer;
}
button:hover {
  background: linear-gradient(204deg, var(--orange) 0%, var(--orange-red) 100%);
  border: 2px solid var(--orange);
}
.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  display: block;
}
label,
.error-message {
  font-weight: var(--font-bold);
  font-size: var(--text-preset-3-size);
  margin-block-end: 0.725rem;
}
input {
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: var(--spacing-100);
  width: 100%;
}
.card {
  width: 100%;
  margin: auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
.form-wrapper {
  order: 2;
  padding-inline: var(--spacing-300);
}
.form-wrapper > p {
  margin-block: 1rem;
}
.hero-image {
  order: 1;
}
.hidden {
  display: none;
}
.error,
.input-error {
  color: var(--red);
}
.input-error {
  border: 1px solid var(--red);
  background-color: #ffe7e6;
}
/* Success message styles */
.success-content {
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  padding: var(--spacing-800) var(--spacing-300) var(--spacing-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.success-content h2 {
  font-size: var(--text-preset-1-mobile-size);
  margin-block: var(--spacing-400);
}
.success-content img {
  width: 4rem;
  height: 4rem;
}
.success-content > p {
  margin-block-end: var(--spacing-1300);
}
.success-content > button {
  margin-inline: auto;
  transition: all 0.2s ease;
}
@media (min-width: 376px) {
  .card {
    max-width: 100%;
    max-width: 560px;
    margin: var(--spacing-400);
    border-radius: var(--spacing-100);
    padding: var(--spacing-200);
  }
  .hero-image img {
    width: 100%;
  }
  .success-content {
    width: 80%;
    height: 40%;
    margin-inline: auto;
    margin-block: var(--spacing-1300);
    border-radius: var(--spacing-200);
  }
  .success-content p {
    margin-block-end: var(--spacing-400);
  }
}
@media (min-width: 768px) {
  main {
    padding: var(--spacing-600);
  }
  .card {
    width: 768px;
    margin-inline: auto;
    border-radius: var(--spacing-200);
    flex-direction: row;
  }
  .hero-image {
    order: 2;
  }
  .hero-image img {
    height: 100%;
  }
  .form-wrapper {
    order: 1;
  }
  .success-content {
    width: 50%;
    height: 50%;
    margin-inline: auto;
    margin-block: var(--spacing-1300);
    border-radius: var(--spacing-200);
  }
  .success-content > button:hover {
    box-shadow: 0 0.25rem 0.25rem var(--orange);
  }
}
